/* CSS Resets */

*{margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", sans-serif;
}

.text-center{
  text-align: center;
}

.h-25{
  height: 25%;
}

.p-3{
  padding: 15px;
}

/* ITEMS */

.bg-primary{
  background-color:rgb(25, 7, 229);
}

.bg-white{
background-color: rgb(239, 237, 233);
}

.bg-danger{
  background-color: darkred;
}


/* FLEX DIRECTIONS */

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center; /* start / end / center */
}

.align-items-center{
  align-items: center; /* start / end / center */
}

.flex-column{
  flex-direction: column; /* row / column / row-reverse / column-reverse */
}